@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Roboto+Slab|Sawarabi+Mincho');

body {
    font-size: 16px;
    font-family: "sawarabi mincho", "Arial", sans-serif;
    color: rgb(38,38,38);
    background-color: #d8d8d8;
    margin:0;
}

header {
    max-width: 960px;
    min-width: 850px;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 2.2fr 1fr;
}

.header {
    background-color: rgb(108,111,124);
    min-width: 850px;
}

h2 {
    font-family: "roboto slab", "Times New Roman", serif;
    border-bottom: dotted 3px rgb(38,38,38);
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    max-width: 700px;
    min-width: 530px;
    margin: 0 auto;
}

header div p {
    display: inline-block;
    margin-bottom: 90px;
    margin-top: 0;
}

#phone-number {
    font-weight: bold;
    border-right: solid 2px rgb(38,38,38);
    padding-right: 5px;
}

#email {
    font-weight: bold;
}

main {
    margin-top: 40px;
}

header div {
    margin-top: 20px;
    margin-left: 170px;

}

h1 {
    font-size: 70px;
    margin-bottom: 0;
    color: rgb(0,102,102);
    font-family: "lobster two", "times new roman", serif;
}

h3 a {
    font-size: 20px;
}

img {
    border: double 4.5px rgb(38,38,38);
    padding: 5px;
    margin-top: 55px;
}

nav {
    grid-column: 1 / -1;
    grid-row: 2;
    position:absolute;
    right: 75px;
    bottom:0;
    margin-right: 40px;
    padding-left: 110px;
}

nav p {
    display: inline-block;
    border-right: solid 2px rgb(38,38,38);
    margin-left:10px;
    margin-top: 0px;
    margin-right: 0;
}

nav p a {
    margin: 0 10px 0 0;
}

.last {
    border: none;
}

a {
    color: rgb(0,120,120);
    font-size: 15px;
    margin-right: 50px;
}

a:visited {
    color: rgb(0,120,120);
}

a:hover {
    color: rgb(0,51,51);
}

a:active {
    color: lightblue;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:visited {
    color:white;
}

nav a:hover {
    color: rgb(0,51,51);
}

nav a:active {
    color: lightblue;
}

article {
    position: relative;
}

.location {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-weight: bold;
}

.date {
    position: absolute;
    top: 1em;
    right: 0;
    margin: 0;
}

.company {
    margin: 0;
}

.position {
    margin: 0;
    padding-bottom: 5px;
    font-style: italic;
}

.list {
    margin: 0;
}

ul {
    margin: 0 0 30px;
}

ul li {
    margin-bottom: 5px;
}

.grid2 article {
    border-left: solid 1px rgb(38,38,38);
    padding-left: 10px;
}

#article1 {
    border-left: none;
}

article {
    margin-bottom: 20px;
}

#article1 {
    grid-area: article1;
}

#article2 {
    grid-area: article2;
}

#article3 {
    grid-area: article3;
}

.grid2 {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:
    " article1 article2 article3";

}
